<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/Categoryheader.css">
  <link rel="stylesheet" href="../css/ListInform.css">
  <link rel="stylesheet" href="../css/font.css">
  <title>Les Chef inform</title>
</head>
<body>
  <header>
    <!-- 로고,게시판,로그인, 자물쇠 위치 -->
    <div id="headerspace">
      <div id="board"><a href="NoticeBoardMain.html"><img src="../img/레시피 아이콘/게시판아이콘.png"/></div></a>
      <div id="logo"><a href="/main"><img src="../img/레시피 아이콘/로고.png"/></div></a>
      <div id="icon2"><a href="Rewrite.html"><img id="mypageicon" src="../img/레시피 아이콘/마이페이지.png"/></a>
        <a href="Login.html"><img id="login" src="../img/레시피 아이콘/자물쇠 1.png" width="55"/></a>
      </div>
    </div>
    <!-- 빨간 가로바 텍스트 -->
    <div id="categoryback">
      <div class="name">
        <a href="List.html"><span>한식</span></a>
        <a href="List.html"><span>일식</span></a>
        <a href="List.html"><span>중식</span></a>
        <a href="List.html"><span>양식</span></a>
        <a href="List.html"><span>공유</span></a>
      </div>
    </div>
  </header>
  <main>
<!-- 메인 사진 윗 부분 -->
  <span id="sort">한식 > 볶음류</span><br>
  <span id="title">치즈 닭갈비</span>
  <div>
    <img id="eye" src="../img/레시피 아이콘/조회수.png"/><p id="eyenum">180</p>
  </div>
  <img id="mainimg" src="../img/레시피 아이콘/세부1.png"/>

  <div id="cell"> <span>재료 준비</span> 
    <p>닭 다리살 500g</p><p>양파 1/2개</p><p>고구마 한개</p><p>고추장 500g</p>
  </div>
  <div class="aside">
    <a href="#total"><img id="asideicon1" src="../img/레시피 아이콘/댓글.png" width="60px"></a>
    <img id="asideicon2" src="../img/레시피 아이콘/하트빈100.png" width="60px">
  </div>

<!-- 메인 사진 아랫 부분 -->
  <div class="allicon">
    <div class="selecticon"><img  src="../img/레시피 아이콘/인원.png"><span>2~3인</span></div>
    <div class="selecticon"><img id="selecticon2" src="../img/레시피 아이콘/시계.png"><span>30분</span></div>
    <div class="selecticon "><img src="../img/레시피 아이콘/난이도.png"><span id="selecticon3">쉬움</span></div>
  </div>

  <img id="line1" src="../img/레시피 아이콘/인포선.png">

<!-- 초록선 -->
  <span id="descript">RECIPE</span>

<!-- 그리드 활용 및 레시피 전체 부분 구현 -->
  <div class="containerwap">
    <div class="gridcontainer">
      <img class="script script1"src="../img/레시피 아이콘/치즈닭갈비1.png"/>
      <span class="script script2">Step 15</span>
      <span class="script script3">닭은 껍질을 제거하고, 우유에 30분 정도 담갔다가 물에 헹궈 먹기 좋은 크기로 잘라주세요. 볼에 양념장 재료를 넣고 고루 섞은 후 닭을 넣어 30분 정도 재워주세요.</span>

      <img class="script script4"src="../img/레시피 아이콘/치즈닭갈비1.png"/>
      <span class="script script5">Step 2</span>
      <span class="script script6">닭은 껍질을 제거하고, 우유에 30분 정도 담갔다가 물에 헹궈 먹기 좋은 크기로 잘라주세요. 볼에 양념장 재료를 넣고 고루 섞은 후 닭을 넣어 30분 정도 재워주세요.</span>
    </div>
    <!-- <div class="gridcontainer">   변수 반복했을 시 연습 용 
      <img class="script script1"src="../레시피 아이콘/치즈닭갈비1.png"/>
      <span class="script script2">Step 1</span>
      <span class="script script3">닭은 껍질을 제거하고, 우유에 30분 정도 담갔다가 물에 헹궈 먹기 좋은 크기로 잘라주세요. 볼에 양념장 재료를 넣고 고루 섞은 후 닭을 넣어 30분 정도 재워주세요.</span>

      <img class="script script4"src="../레시피 아이콘/치즈닭갈비1.png"/>
      <span class="script script5">Step 2</span>
      <span class="script script6">닭은 껍질을 제거하고, 우유에 30분 정도 담갔다가 물에 헹궈 먹기 좋은 크기로 잘라주세요. 볼에 양념장 재료를 넣고 고루 섞은 후 닭을 넣어 30분 정도 재워주세요.</span>
    </div>
    <div class="gridcontainer">
      <img class="script script1"src="../레시피 아이콘/치즈닭갈비1.png"/>
      <span class="script script2">Step 1</span>
      <span class="script script3">닭은 껍질을 제거하고, 우유에 30분 정도 담갔다가 물에 헹궈 먹기 좋은 크기로 잘라주세요. 볼에 양념장 재료를 넣고 고루 섞은 후 닭을 넣어 30분 정도 재워주세요.</span>

      <img class="script script4"src="../레시피 아이콘/치즈닭갈비1.png"/>
      <span class="script script5">Step 2</span>
      <span class="script script6">닭은 껍질을 제거하고, 우유에 30분 정도 담갔다가 물에 헹궈 먹기 좋은 크기로 잘라주세요. 볼에 양념장 재료를 넣고 고루 섞은 후 닭을 넣어 30분 정도 재워주세요.</span>
    </div>
    <div class="gridcontainer">
      <img class="script script1"src="../레시피 아이콘/치즈닭갈비1.png"/>
      <span class="script script2">Step 1</span>
      <span class="script script3">닭은 껍질을 제거하고, 우유에 30분 정도 담갔다가 물에 헹궈 먹기 좋은 크기로 잘라주세요. 볼에 양념장 재료를 넣고 고루 섞은 후 닭을 넣어 30분 정도 재워주세요.</span>

      <img class="script script4"src="../레시피 아이콘/치즈닭갈비1.png"/>
      <span class="script script5">Step 2</span>
      <span class="script script6">닭은 껍질을 제거하고, 우유에 30분 정도 담갔다가 물에 헹궈 먹기 좋은 크기로 잘라주세요. 볼에 양념장 재료를 넣고 고루 섞은 후 닭을 넣어 30분 정도 재워주세요.</span>
    </div> -->
  </div>

  <!-- 댓글 및 평점 기능 -->
  <div id="total">
    <span class="totalnumber totalnumber1">후기</span> 
    <div class="totalimg">
    <img src="../img/레시피 아이콘/별/별.png"/>
    <img src="../img/레시피 아이콘/별/별.png"/>
    <img src="../img/레시피 아이콘/별/별.png"/>
    <img src="../img/레시피 아이콘/별/반별.png"/>
    <img src="../img/레시피 아이콘/별/없는별.png"/>
    </div>
    <span class="totalnumber totalnumber2">평점 4.5</span>
  </div>
  
  <!-- 댓글 조회 -->
  <div id="comentcontainer">
    <div class="comentbox">
      <div class="coment">
        <img class="comentimg" src="../img/레시피 아이콘/사용자.png" /><span class="comentnickname">by 사용자1</span>
        <div class="allstar">
        <img class="comentstar" src="../img/레시피 아이콘/사용자별.png"/><img class="comentstar" src="../img/레시피 아이콘/사용자별.png"/><img class="comentstar" src="../img/레시피 아이콘/사용자별.png"/><img class="comentstar" src="../img/레시피 아이콘/사용자반별.png"/><img class="comentstar" src="../img/레시피 아이콘/사용자빈별.png"/> <span>2024-05-28 20:28:55</span>
        </div>
      </div>
      <span class="comenttext">뭐라써야할까 난 잘 몰르겠넹 아 집 가고 싶아</span><hr width="600px">
    </div>
    <!-- 반복시 연습 용 -->
    <!-- <div class="comentbox">
      <div class="coment">
        <img class="comentimg" src="../레시피 아이콘/사용자.png" /><span class="comentnickname">by 사용자1</span>
        <div class="allstar">
        <img class="comentstar" src="../레시피 아이콘/사용자별.png"/><img class="comentstar" src="../레시피 아이콘/사용자별.png"/><img class="comentstar" src="../레시피 아이콘/사용자별.png"/><img class="comentstar" src="../레시피 아이콘/사용자반별.png"/><img class="comentstar" src="../레시피 아이콘/사용자빈별.png"/>
        </div>
      </div>
      <span class="comenttext">뭐라써야할까 난 잘 몰르겠넹 아 집 가고 싶아</span><hr width="700px">
    </div><div class="comentbox">
      <div class="coment">
        <img class="comentimg" src="../레시피 아이콘/사용자.png" /><span class="comentnickname">by 사용자1</span>
        <div class="allstar">
        <img class="comentstar" src="../레시피 아이콘/사용자별.png"/><img class="comentstar" src="../레시피 아이콘/사용자별.png"/><img class="comentstar" src="../레시피 아이콘/사용자별.png"/>
        <img class="comentstar" src="../레시피 아이콘/사용자반별.png"/><img class="comentstar" src="../레시피 아이콘/사용자빈별.png"/>
        </div>
      </div>
      <span class="comenttext">뭐라써야할까 난 잘 몰르겠넹 아 집 가고 싶아</span><hr width="700px">
    </div> -->
  </div>

  <!-- 댓글 작성 -->
  <div id="reviewcontainer">
    <span id="review">후기 작성</span>
    <div id="starcontainer">
      <img class="countingstar" star="1" src="../img/레시피 아이콘/사용자별.png"/>
      <img class="countingstar" star="2" src="../img/레시피 아이콘/사용자빈별.png"/>
      <img class="countingstar" star="3" src="../img/레시피 아이콘/사용자빈별.png"/>
      <img class="countingstar" star="4" src="../img/레시피 아이콘/사용자빈별.png"/>
      <img class="countingstar" star="5" src="../img/레시피 아이콘/사용자빈별.png"/> 
      <button id="resist">write</button>
    </div>
    <textarea id="areasize"></textarea>
  </div>
</main>
<script src="../js/inform.js"></script>
</body>
</html>