<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/Categoryheader.css">
  <link rel="stylesheet" href="../css/LIst.css">
  <link rel="stylesheet" href="../css/font.css">
  <title>Les Chef Category</title>
</head>
<body>
  <header>
    <!-- 로고,게시판,로그인, 자물쇠 위치 -->
    <div id="headerspace">
      <div id="board"><img src="../레시피 아이콘/게시판아이콘.png"/></div>
      <div id="logo"><a href="#"><img src="../레시피 아이콘/로고.png"/></div></a>
      <div id="icon2"><a href="#"><img id="mypageicon"src="../레시피 아이콘/마이페이지.png"/></a>
        <a href="#"><img id="login" src="../레시피 아이콘/자물쇠 1.png" width="55"/></a>
      </div>
    </div>
    <!-- 빨간 가로바 텍스트 -->
    <div id="categoryback">
      <div class="name">
        <a href="#"><div><span class="categorybox">한식</span></div></a>
        <a href="#"><div><span class="categorybox">일식</span></div></a>
        <a href="#"><div><span class="categorybox" >중식</span></div></a>
        <a href="#"><div><span class="categorybox">양식</span></div></a>
        <a href="#"><div><span class="categorybox">공유</span></div></a>
      </div>
    </div>
  </header>
  <main>
  <!-- 이미지, 카테고리 텍스트 -->
  <div id="onimg"><img src="../레시피 아이콘/한식가로.png"/>
    <span id="ontext">Korean Food</span>
  </div>

<!-- 세부 카테고리 텍스트 및 버튼  -->
  <div id="decategory">
    <span class="subcategory" style=" color:black">전체보기 </span>
    <span class="subcategory">국물류 </span>
    <span class="subcategory">볶음류 </span>
    <span class="subcategory">튀김류 </span>
    <span class="subcategory">기타</span>

    <button class="listbutton">최신순</button> 
    <button class="listbutton">조회순</button>
  </div>

  <form action="#" method="#" >
  <img id="search" src="../레시피 아이콘/search.png" width="55px"/>
  <input id="searchtext"></input>
</form>
<!-- 리스트 목록 -->
  <div id="listwrap">
    <!-- ---------------------변수로 바꿀시 밑 부분제외, 이 부분 반복 뿌리기 -------------------------------------------------------- -->
    <div class="listmain">
      <a href="#">   
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>
      </a>  
    </div> 
    
    <!-- ----------------------------------------------------------------------------- -->
    <div class="listmain">
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>  
    </div>
    <div class="listmain">
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>  
    </div>
    <div class="listmain">
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>  
    </div>
    
    
    <div class="listmain">
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>  
    </div>
    <div class="listmain">
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>  
    </div>
    <div class="listmain">
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>  
    </div>
    <div class="listmain">
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>  
    </div>

    <div class="listmain">
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>  
    </div>
    <div class="listmain">
      <img class="listimg"src="../레시피 아이콘/예시1.png">
      <h3>레시피 제목</h3>
      <ul class="listcontent"><img class="icon" src="../레시피 아이콘/마이페이지.png" width="25"/><li class="nickname">by 닉네임</li><li class="timeset">소요시간</li><li class="runtime">10-15분</li></ul>
      <ul class="submix"> <img class="star" src="../레시피 아이콘/평점.png"><li class="everage">평점 4.5</li><img class="eye" src="../레시피 아이콘/조회수.png"><li class="eyenumber">800</li></ul>  
    </div> 
  </div>
</main>
<script src="../js/List.js"></script>
</body>
</html>