<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/Login.css">
  <title>로그인</title>
</head>
<body>
    <div class="background">
      <img src="../image/Ex12.jpg">
    </div>
  <div class="Login-box">
    <div id="Login-box-Logo" href="MainPage.html"><img src="../image/main_logo.png" /></div>
    <form>
      <label>이메일(아이디)</label><br>
      <input type="email"/><br>
      <label>비밀번호</label><br>
      <input type="password"/><br>
        <!-- <a id="FindIdPw" href="FindIdPw.html">아이디 / 비밀번호 찾기</a><br> -->
        <!-- <div id="social-login-block">
          <a class="social-login" href="#"><img src="../image/Kakao.jpg"/></a>
          <a class="social-login" href="#"><img src="../image/Google_logo.png"/></a>
          <a class="social-login" href="#"><img src="../image/Naver_logo.png"/></a>
        </div> -->
      <button type="submit">로그인</button>
    </form>
    <!-- <hr> -->
      <!-- <p>아직 아이디가 없으신가요?<br> 회원가입으로 더 많은 요리정보를 얻으세요!</p>
    <button type="button">회원가입</button> -->
  </div>
</body>
</html>