<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myrecipe</title>
    <link rel="stylesheet" href="../css/Mycomment.css">
    <link rel="stylesheet" href="../css/font.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="menu">
                <a href="Rewrite.html">회원정보<span style="font-family: GreateVibes;font-size: 30px;"><u>Information</u></span></a><br>
                <a href="WishList.html">찜목록<span style="font-family: GreateVibes;font-size: 30px;"><u>WishList</u></span></a><br>
                <a href="Mycomment.html">나의 댓글<span style="font-family: GreateVibes; font-size: 30px;"><u>My Comment</u></span></a><br>
                <a href="Regist.html">레시피 등록<span style="font-family: GreateVibes; font-size: 30px;"><u>Registration</u></span></a><br>
                <a href="Myrecipe.html">나의 레시피<span style="font-family: GreateVibes; font-size: 30px;"><u>My Recipe</u></span></a>
            </div>
            <div class="logo">

                <a href="MainPage.html"><img src="../img/img/logoUpdate.png"></a>
            </div>
        </div>
        <div class="rigcontainer">
            <div class="right">
                <h2>나의 레시피</h2>
                <div class="comments">
                    <div class="comment">
                        <input type="checkbox" class="delete-checkbox">
                        <img src="../img/img/bap.png">
                        <div class="comment-text">
                            <p><strong></strong> </p>
                            <p><strong></strong></p>
                            <p><strong></strong></p>
                        </div>
                    </div>
                    </div>
                    <div class="comment">
                        <input type="checkbox" class="delete-checkbox">
                        <img src="../img/img/crab.png" href="#">
                        <div class="comment-text">
                            <p><strong></strong></p>
                            <p><strong></strong> </p>
                            <p><strong></strong></p>
                        </div>
                        </div>
                </div>
                <div class="buttons">
                    <button type="button" href="#">수정</button>
                    <button class="delete-button">삭제</button>
                </div>
            </div>
        </div>
        <div class="lock">
            <a href="Login.html"><img src="../img/img/Login.png"></a>
        </div>
    </div>
    <script src="../js/delete.js"></script>
</body>
</html>
