html{
  overflow: hidden;
}

body{
  margin:0;
  padding: 0;
}
button:hover{
  cursor: pointer;
}
.background{
  display: block;
  width: 100%;
  height: 953px;
  overflow: hidden;
}
p{
  color:white;
  font-size:15px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -10px;
}
.Login-box {
  position: absolute;
  right:4vw;
  top: 9vh;
  width: 23vw;
  height: 82vh;
  background-color: #00301F;
  box-shadow: 0 0 4px 0 black;
  border-radius: 20px;
}
.Login-box label{
  font-size: 25px;
  display: inline-block;
  width: 300px;
  margin: 10px 100px 0 50px;
  color: white;
}
.Login-box input{
  color:white;
  font-size: 25px;
  display: inline-block;
  width: 350px;
  background-color: #00301F;
  border: 0;
  border-bottom: 2px solid white;
  margin: 10px 50px 15px 50px;
}
.Login-box input:focus{
  outline: none;
}
#FindIdPw{
  font-size: 20px;
  width: 50%;
  text-decoration: none;
  color:white;
  position: absolute;
  right:30px;
}
#FindIdPw:visited{
  text-decoration: none;
}
#Login-box-Logo{
  width:240px;
  display: inline-block;
  margin: 40px 108px 10px 108px;
}
button{
  display: block;
  margin: 20px auto;
  font-size: 25px;
  color:white;
  background-color: #79AE84;
  width: 72%;
  height: 60px;
  border-radius: 20px;
  border: 0;
}
.Login-box hr{
  width: 80%;
}
#social-login-block{
  display: inline-block;
  width:400px;
  text-align: center;
  margin: 10px 25px 0 25px;
}
.Login-box .social-login img{
  background-color: #79AE84;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin: 10px 10px;
}